.container {
	
}

.header {
	position: relative;
	height: 200px;
	border-bottom: 4px solid black;
	margin-bottom: 10px;

}

.icon-pic {
	width: 20%;
	height: 20%;
	display: block;
	margin: 10px auto;
	padding: 10px;
	border: 3px solid black;
}

.title {
	text-align: center;
	font-family: 'Pacifico', cursive;
}

.intro {
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	margin-top: 100px;
	margin-bottom: 0px;
	font-size: 60px;
}

.sub-intro {
	text-align: center;
	font-family: 'Trebuchet MS';
	font-size: 20px;
}

.enter-box {
	width: 350px;
	height: 50px;
	background: black;
	margin: 0 auto;
	cursor: pointer;
}

.box-text {
	text-align: center;
	color: white;
	font-family: 'Trebuchet MS';
	font-size: 30px;
	padding: 5px;
	margin: auto;
}

.enter-box:hover {
	background: gray;
}

.layer-2{
	display: none;
}

.selfbets {
	margin-top: 20px;
}
.alphabets {
	text-align: center;
	font-size: 100px;
	font-family: 'Luckiest Guy', cursive;
	cursor: pointer;
	position: relative;
	top: 50px;
}

.popout-top{
	position: absolute;
	height: 100px;
	margin: 0;
	padding: 0;
	top: 5px;
}

.bubble{
	position: relative;
	height: 80px;
	width: 240px;
	margin: 0;
	padding: 0;
	border: 1px solid #eee;
	background-color: #eee;
	border-radius: 10px;
}

.pointer {
	width: 20px;
	height:20px;
	margin-left: 90px;
	border-top: 20px solid #eee;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;

}

.descbox {
	position: relative;
	top: 50%;
	padding: 20px;
	transform: translateY(-45%);
}

.desc {
	font-size: 20px;
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
	line-height: 1.5em;
}

.guide {
	text-align: center;
	font-family: 'Trebuchet MS';
	font-size: 20px;
	margin-top: 80px;
}

.back {
	text-align: center;
	font-size: 60px;
	font-family: 'Permanent Marker', cursive;
	cursor: pointer;
	margin-top: -10px;
}
.back:hover {
	color:gray;
}

